.sidebar {
  background-color: #F8F9F9;
  height: 100vh;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    padding: 30px;
    color: #444855;
    font-size: 22px;
    font-weight: bold;
  }

  &__ul {

  }

  &__li {
    padding: 30px;
    color: #444855;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__li-active {
    color: #DE2574;
    border-right: 3px solid #DE2574;
  }
}